<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
   <%layout("/layouts/boilerplate")-%>
 <form method="POST" action="/listings/<%=obj._id %>?_method=PUT">
        <input name="listing[title]" type="text"
         value="<%= obj.title %>"><br> <br>
       <textarea name="listing[description]" cols="21" rows="2"><%= obj.description %></textarea>
        <br><br>
        <input type="text" name="listing[image]" 
         value="<%= obj.image.url%>"><br> <br>
        <input type="number" name="listing[price]" 
        value="<%= obj.price %>"><br>
         <input type="text" name="listing[location]" 
         value="<%= obj.location %>"><br>
         <input type="text" name="listing[country]" 
         value="<%= obj.country %>"><br>
        <br>
        <button>Edit</button>
    </form>
</body>
</html>